// All the SCSS Variables goes here
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;
$font-size-base-sm: 0.875rem;

// general
$transition-timing: 0.4s;

// header 
$header-height : 80px;

// Side Bar
$sidebar-width : 200px;
$side-header-height : $header-height;



// // spacer
// $spacer: 1rem;

// // guttter spacing
// $gutters: (
//     0: 0,
//     1: $spacer * 0.25,
//     2: $spacer * 0.5,
//     3: $spacer,
//     4: $spacer * 1.5,
//     5: 1.75rem,
// );

// // general
// $border-radius : 12px;

// // form control
// $input-focus-box-shadow: none;
// $input-border-radius: 6px;
// $input-padding-x: 1.75rem;

// //Registration Role Form
// $container-border-radius: 40px;
// $button-shadow-color: $btn-shadow-color;
// $font-weight-bold: 500;

// //border style in role
// $card-border-color: $muted;
// $card-border-radius: 15px;
// $card-border-width: 1px;

// // form control
// $input-focus-box-shadow: none;

// // form floating
// $form-floating-height: auto;
// $form-floating-line-height: 1;
// $form-floating-padding-x: 0.75rem;
// $form-floating-padding-y: 0.875rem;
// $form-floating-input-padding-t: $form-floating-padding-y;
// $form-floating-input-padding-b: $form-floating-padding-y;
// $form-floating-label-opacity: 1;
// $form-floating-label-transform: scale(0.75) translateY(-1.5rem) translateX(0.5rem);
// $form-floating-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

// // form label
// $form-check-label-color: $secondary;

// // buttons
// $btn-border-radius: 12px;
// $btn-padding-y: 0.625rem;
// $btn-padding-x: 4rem;
// $btn-create-prescription: 0.625rem 2.25rem;
// $btn-create-prescription-font-size: $font-size-base-sm;
// $btn-create-prescription-margin-top: 2.25rem;
// $btn-sign-out-padding: 0.625rem 2.25rem;
// $btn-sign-out-font-size: $font-size-base-sm;

// // radio buttons
// $form-check-radio-checked-bg-image: none;

// // font weight
// $font-weight-bold: 500;
// $font-weight-bolder: 700;

// // dashboard
// $dashboard-content-padding: 2rem;
// // user-profile
// $profile-padding: 3rem 8rem;
// $profile-image-border: 3px solid $image-outline;
// $profile-info-border-bottom: 1px solid $blue-light;
// $file-title-size: 14px;


// // Sidebar
// $sidebar-width: 300px;
// $sidebar-transition: 0.4s all ease-in-out;
// $sidebar-logo-size: 40px;
// $sidebar-logo-size-sm: 35px;

// $user-profile-width: 200px;
// $user-profile-size: 35px;
// $user-profile-border-radius: 8px;

// // Header
// $header-height: 80px;
// $page-title-font-size: 1.5rem;
// $page-title-font-size-sm: 1.25rem;

// // navlink
// $nav-link-sm-font-size: $font-size-base-sm;
// $nav-brand-logo-height: 80px;

// // dashboard
// $font-size-base-sm: 0.875rem;
// $font-size-xsm: 12px;
// $nav-link-border-radius: 8px;
// $nav-link-transition: all .15s ease-in-out;
// $brand-logo-font-size: 1.75rem;
// $brand-logo-sm-font-size: 1.5rem;

// // accordion
// $accordion-border-radius: 6px;

// // Container
// $border-radius-container: 14px;

// // List image size
// $list-img-size: 50px;
// $list-item-padding-x: 1.75rem;
// $list-item-padding-y: 1.5rem;
// $list-item-padding-sm-x: 0.75rem;
// $list-item-padding-sm-y: 1.5rem;

// // Pharmacy list & view layout
// $layout-radius: 12px;
// $list-item-font-size: $font-size-base-sm;
// $list-item-font-size-sm: .75rem;
// $list-border-bottom: 2px solid;
// $list-profile-size: 50px;
// $list-profile-size-sm: 45px;

// $view-layout-padding: 2rem;
// $view-layout-padding-sm: 1rem;